$white: #fff;

$green: #27ae60;
$green2: #27ae60;
$green3: #dbf3e6;
$green4: #f4fbf7;

$gray1: #333;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #bdbdbd;
$gray5: #e0e0e0;
$gray6: #f8f8f8;

$red: #eb5757;
$red2: #f7dede;

$orange: #f2994a;
$orange2: #fbe8d7;
