@import "./helpers/color";

.create-block {
  background: $white;
  border-bottom: 1px solid $gray5;
  border-left: 1px solid $gray5;
  border-radius: 2px;
  border-right: 1px solid $gray5;
  box-shadow: 0 15px 31px rgb(0 0 0 / 3.64%), 0 3.3504px 6.9242px rgb(0 0 0 / 5.36%);
  padding: 40px 60px 60px;

  .top-border {
    background: $green2;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    height: 4px;
    left: -1px;
    position: absolute;
    top: 0;
    width: calc(100% + 2px);
  }

  .login-btn {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: absolute;
    text-decoration: none;

    p {
      color: $gray1;
      font-family: "Exo2-Medium", sans-serif;
      font-size: 14px;
      letter-spacing: 0.04em;
      line-height: 17px;
      margin-left: 8px;
      text-transform: uppercase;
    }
  }

  .create-logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  p {
    color: $gray1;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
  }

  .description {
    color: $gray3;
    font-family: "Exo2-Light", sans-serif;
    font-size: 14px;
    margin-top: 16px;
    text-align: center;
    width: 360px;
  }

  .create-form {
    width: 360px;

    .validation-container {
      height: 95px;
      overflow: hidden;
      transition: height 0.5s;

      &.hidden {
        height: 0 !important;
        overflow: hidden;
        transition: height 0.5s;
      }

      .validation {
        align-items: center;
        display: flex;
        padding: 0 12px;

        .flex-item {
          align-items: center;
          display: flex;
          opacity: 0.4;
          transition: 0.2s ease-in-out;
          width: 50%;

          &.valid {
            opacity: 1;
          }

          .green-mark {
            background: $green;
            border-radius: 50%;
            height: 8px;
            margin-right: 8px;
            width: 8px;
          }

          .desc {
            color: $gray1;
            font-family: "Exo2-Regular", sans-serif;
            font-size: 12px;
          }
        }
      }
    }

    .create-lable {
      color: $gray1;
      font-family: "Exo2-Medium", sans-serif;
      font-size: 12px;
      line-height: 14px;
    }

    .create-input {
      border: 1px solid $gray5;
      border-radius: 2px;
      box-sizing: border-box;
      display: block;
      font-family: "Exo2-Light", sans-serif;
      font-size: 14px;
      height: 44px;
      padding-left: 12px;
      width: 100%;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $gray4;
      font-family: "Exo2-Light", sans-serif;
      font-size: 14px;
      line-height: 17px;
      opacity: 1;
    }

    .create-btn {
      background-color: $green2;
      border: none;
      border-radius: 2px;
      color: $white;
      cursor: pointer;
      display: inline-block;
      font-family: "Exo2-Medium", sans-serif;
      font-size: 14px;
      height: 44px;
      letter-spacing: 0.04em;
      line-height: 17px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.3s ease-in-out;
      width: 100%;

      &.disabled {
        background: $gray6;
        color: $gray4;
        pointer-events: none;
        transition: 0.3s ease-in-out;
      }
    }
  }
}
